@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
    --container-shadow: 0px 0px 20px 0px #00000021;
}
::-webkit-scrollbar {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Poppins" !important;
}
a {
    text-decoration: none !important;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-100px, 100px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.top-line {
    background: #8b4513;
    color: white;
}
.top-line > .row > .d-flex {
    align-items: center;
    gap: 1vh 1vw;
    padding: 1vh 2vw;
    font-weight: 700;
    font-size: 17px;
}
.top-line > .row > .d-flex a {
    color: white;
    font-weight: 700;
    font-size: 17px;
}

.category-section .row > .col-lg-5 {
    margin: 0vh auto;
    width: 49%;
}
.category-section .row .first-img {
    background-image: url("../image/unsplash_Bd7gNnWJBkU.jpg");
    background-size: cover;
}
.category-section .row .second-img {
    background-image: url("../image/16 1.png");
    background-size: cover;
}
.category-section .row .third-img {
    background-image: url("../image/30 1.png ");
    background-size: cover;
}
.category-section .row > .row {
    padding: 0;
    margin: 0;
    gap: 2.5vh 2vw;
}
.category-section .row .col-lg-12 {
    padding: 0;
    height: 200px;
}
.category-section .row .position-relative {
    border-radius: 20px;
    overflow: hidden;
}
.category-section .row .position-relative .position-absolute {
    bottom: 0;
    left: 0;
    padding: 2vh 4vw;
    border-radius: 0px 20px 0px 0px;
    background: #fdba2ca6;
    display: none;
    transition: opacity 0.2s, transform 0.2s;
}
.category-section .row .position-relative:hover .position-absolute {
    display: block;
    animation: fadeIn 0.9s ease-in-out;
    transition: opacity 0.2s, transform 0.2s;
}
.category-section .row .position-relative .position-absolute h2 {
    color: #4d0e0e;
    font-size: 25px;
    font-weight: 700;
    margin: 4vh 0;
    line-height: 24px;
}

.category-section .row .position-relative .position-absolute a {
    color: #000;
    font-weight: 700;
    border: 2px solid #000;
    padding: 1vh 1vw;
    border-radius: 8px;
}

.category-section-2 > div {
    margin: 1vh auto;
}
.category-section-2 .categories {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 1vh 0.5vw;
    padding: 0;
}
.category-section-2 .categories > div {
    background-color: #8b45136c;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-section-2 .categories > div a {
    color: #fff;
    text-align: center;
}
.category-section-2 .categories > div a h6 {
    margin: 0;
    color: #fff;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
}
.category-section-2 .categories > div a p {
    margin: 0;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}
/* -----------------------------navber ----------------------------- */
.Home .home {
    color: #feba2a !important;
    font-weight: 700;
}
.About .About {
    color: #feba2a !important;
    font-weight: 700;
}
.Shop .shop {
    color: #feba2a !important;
    font-weight: 700;
}
.Blog .Blog {
    color: #feba2a !important;
    font-weight: 700;
}
.Contact .Contact {
    color: #feba2a !important;
    font-weight: 700;
}
nav {
    padding: 0vh 1vw !important;
    margin: 0;
    box-shadow: none !important;
}
nav a {
    color: black !important;
    font-weight: 600;
    margin: 1vh 0.5vw;
}
nav img {
    width: 100px;
    height: auto;
}
nav .Right-Side a {
    color: #feba2a !important;
    font-weight: 600 !important;
    font-size: 17px;
}
nav .Right-Side a span {
    font-weight: 600 !important;
}
/* -----------------------------Home ----------------------------- */
.Home > .first-container {
    /* background-image: linear-gradient(to right, #feba2a 85%, #fff 15%); */
    background-color: #feba2a;
    border-radius: 30px;
    width: 85%;
    margin: 2vh auto;
}
.Home > .first-container .d-flex {
    align-items: center;
    justify-content: center;
}
.Home > .first-container .d-flex h5 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;

    font-family: Montserrat;
    margin: 3vh 0vw;
}
.Home > .first-container .d-flex h1 {
    color: #8b4513;

    font-size: 80px;
    font-weight: 700;
    line-height: 60px;
}
.Home > .first-container .d-flex p {
    color: #fff;

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 2vh 0vw;
}
.Home > .first-container .d-flex a {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 15px 40px;
    font-weight: 600;
    margin: 5vh 0vw;
    gap: 10px;
    border-radius: 5px;
}

.Home > .first-container .img {
    justify-content: end !important;
    padding: 0;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}

.Home > .first-container .img .slider {
    position: relative;
    width: 400%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: 30s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}

.Home > .first-container .img .slide {
    position: relative;
    min-width: 100%;
    height: 100%;
}

.Home > .first-container .img .slide img {
    width: 100%;
    height: 100%;
}

@keyframes sliding {
    0% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-100%);
    }
    45% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    70% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-400%);
    }
}

.Home > .second-container {
    margin: 4vh auto;
}
.Home > .second-container > .row {
    padding: 0;
    margin: 0;
}
.Home > .second-container .row > .col-lg-6 {
    padding: 0;
    margin: 0;
}

.Home > .third-container {
    text-align: center;
    margin: 10vh auto;
}
.Home > .third-container > h4 {
    color: #feba2b;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    margin: 2vh auto;
}
.Home > .third-container > h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;

    margin: 2vh auto;
}
.Home > .third-container > p {
    color: #737373;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;

    margin: 2vh auto;
}
.Home > .third-container > .row > .col-lg-2 {
    margin: 1vh auto;
}
.Home > .third-container > .row > .col-lg-2 img {
    width: 100%;
    height: 300px;
}
.Home > .third-container > .row > .col-lg-2 h4 {
    color: #feba2b;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    margin: 1vh 0vw;
}
.Home > .third-container > .row > .col-lg-2 a {
    color: #737373;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    margin: 0.5vh;
    padding: 0;
}
.Home > .third-container > .row > .col-lg-2 h6 {
    color: #bdbdbd;
    margin: 1vh 0vw;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
}
.Home > .third-container > .row > .col-lg-2 h6 > span {
    color: #feba2a;
}
.Home > .third-container > a {
    border: 2px solid #8b4513;
    color: #8b4513;
    padding: 1vh 1vw;
    font-weight: 600;
    border-radius: 10px;
}

.Home > .forth-container .row .d-flex {
    align-items: center;
    justify-content: space-between;
}

.Home > .forth-container .row img {
    width: 100%;
    height: 500px;
}

.Home > .forth-container .row h4 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #febb2a;
}

.Home > .forth-container .row h1 {
    color: #252b42;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}
.Home > .forth-container .row p {
    color: #737373;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.Home > .fivth-container {
    margin: 5vh auto;
    text-align: center;
    padding: 5vh;
}
.Home > .fivth-container > h4 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #febb2a;
}
.Home > .fivth-container h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;

    margin: 2vh auto;
}
.Home > .fivth-container p {
    color: #737373;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;

    margin: 2vh auto;
}
.Home > .fivth-container .row {
    margin: 5vh auto;
}
.Home > .fivth-container .col-lg-3 {
    margin: 1vh auto;
    text-align: center;
}
.Home > .fivth-container .col-lg-3 img {
    width: 25%;
}
.Home > .fivth-container .col-lg-3 h4 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 5vh auto 2vh auto;
}
.Home > .fivth-container .col-lg-3 p {
    color: #737373;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.Home > .payment-methods {
    margin: 5vh auto !important;
}
.Home .payment-methods > h1 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #252b42;
}
.Home > .payment-methods > p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;

    color: #737373 !important;
}
.Home > .sixth-container {
    text-align: center;
    margin: 5vh auto;
}
.Home > .sixth-container > h2 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #febb2a;
}

.Home > .sixth-container > h1 {
    color: #252b42;

    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.Home > .sixth-container .row > .row .position-relative {
    padding: 0 !important;
}
.Home .sixth-container .row > .row .position-relative img {
    width: 100%;
}
.Home .sixth-container .row .sale {
    top: 10px;
    left: 10px;
    background: #e74040;
    padding: 0.5vh 1vw;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
}
.Home .sixth-container .row .icon {
    bottom: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.Home .sixth-container .row .icon > span {
    background-color: #fff;
    padding: 0.5vh 0.5vw;
    border-radius: 50%;
}
.Home .sixth-container .row .col-lg-8 {
    align-items: center;
    text-align: left;
}
.Home .sixth-container .row .col-lg-8 > div > .d-flex {
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
.Home .sixth-container .row .col-lg-8 .d-flex a {
    color: #feba2a;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
}
.Home .sixth-container .row .col-lg-8 .d-flex span {
    background: #252b42;
    gap: 1vh;
    align-items: center;
    padding: 0.5vh 0.5vw;
    border-radius: 30px;
}
.Home .sixth-container .row .col-lg-8 .d-flex span i {
    font-size: 10px;
}
.Home .sixth-container .row .col-lg-8 .d-flex span p {
    font-size: 10px;
}
.Home .sixth-container .row .col-lg-8 .d-flex i {
    color: #feba2a;
}
.Home .sixth-container .row .col-lg-8 .d-flex p {
    margin: 0;
    color: white;
}
.Home .sixth-container .row .col-lg-8 h4 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;

    text-align: left;
}
.Home .sixth-container .row .col-lg-8 p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}
.Home .sixth-container .row .col-lg-8 .sale {
    background: transparent;
    width: 90px !important;
    padding: 0;
    align-items: center;
}
.Home .sixth-container .row .col-lg-8 .sale i {
    color: #737373;
}
.Home .sixth-container .row .col-lg-8 .sale p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    color: #737373;
    margin: 0;
    padding: 0;
}
.Home .sixth-container .row .col-lg-8 h6 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
}
.Home .sixth-container .row .col-lg-8 h6 span {
    color: #feba2a;
    margin: 0vh 1vw;
}
.Home .sixth-container .row .col-lg-8 .item-color {
    width: 120px !important;
}
.Home .sixth-container .row .col-lg-8 .item-color span {
    padding: 1vh;
}

.Home .sixth-container .row .col-lg-8 .product-features {
    margin: 3vh 0vw;
    gap: 1vh;
}
.Home .sixth-container .row .col-lg-8 .product-features span {
    margin: 0vh 0.5vw;
}
.Home .sixth-container .row .col-lg-8 .button {
    color: #23a6f0;
    border: 2px solid #23a6f0;
    border-radius: 50px;
    padding: 1vh 1vw;
    font-weight: 700;
}

/* ----------------------------- Shop ----------------------------- */
.Shop > .first-container .d-flex {
    align-items: center;
    justify-content: space-between;
}
.Shop > .first-container .d-flex h1 {
    margin: 0;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    color: #252b42;
}
.Shop > .first-container .d-flex .d-flex {
    justify-content: space-around;
    gap: 1vw;
}

.Shop > .first-container .d-flex .d-flex a {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;

    color: #252b42;
}

.Shop > .second-container {
    margin: 8vh auto;
}
.Shop > .second-container > h5 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    color: #feba2b;
    margin: 0;
}
.Shop > .second-container > h3 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    margin: 2vh auto;
    color: #252b42;
}
.Shop > .second-container > p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    color: #737373;
    margin: 0;
}
.Shop > .second-container > .row > .col-lg-2 {
    margin: 2vh auto;
}
.Shop > .second-container > .row > .col-lg-2 img {
    width: 100%;
}
.Shop > .second-container > .row > .col-lg-2 h4 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    margin: 1vh auto;
    color: #febb2a;
}
.Shop > .second-container > .row > .col-lg-2 a {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #737373;
}
.Shop > .second-container > .row > .col-lg-2 h6 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    margin: 1vh;
    text-align: center;
    color: #bdbdbd;
    margin-bottom: 4vh;
}
.Shop > .second-container > .row > .col-lg-2 h6 span {
    color: #feba2b;
}
.Shop > .second-container button {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    color: #8b4513;
    border: 1px solid #8b4513;
    padding: 1.5vh 1.5vw;
    border-radius: 5px;
}
.Shop > .container-fluid > img {
    width: 100%;
}

/* -----------------------------About Page ----------------------------- */
.About > .first-container {
    margin: 4vh auto;
}
.About > .first-container > .row > .col-lg-6 {
    align-items: center;
    justify-content: center;
}
.About > .first-container > .row > .col-lg-6 h5 {
    font-size: 22px;
    font-weight: 700;
    color: #ffc107;
    font-family: Montserrat;
    margin: 1vh 0vw;
}
.About > .first-container > .row > .col-lg-6 h1 {
    color: #8b4513;

    font-size: 80px;
    font-weight: 700;
    line-height: 60px;
    margin: 5vh 0vw;
}
.About > .first-container > .row > .col-lg-6 p {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 4vh 0vw;
}
.About > .first-container > .row > .col-lg-6 a {
    border: none;
    background-color: #ffc107;
    color: #fff;
    padding: 15px 40px;
    font-weight: 600;

    gap: 10px;
    border-radius: 5px;
}
.About > .first-container > .row > .col-lg-6 > img {
    width: 100%;
}
.About > .second-container {
    margin: 100px auto;
}
.About > .second-container > .row > .col-lg-6 {
    display: grid;
    align-items: center;
}
.About > .second-container > .row > .col-lg-6 h5 {
    font-size: 22px;
    font-weight: 700;
    color: #8b4513;
    font-family: Montserrat;
    margin: 2vh 0vw;
}
.About > .second-container > .row > .col-lg-6 h4 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}
.About > .second-container > .row > .col-lg-6 p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.About > .third-container {
    margin: 150px auto;
}
.About > .third-container > .row > .col-lg-3 {
    justify-content: center;
}
.About > .third-container > .row > .col-lg-3 > div {
    text-align: center;
}
.About > .third-container > .row > .col-lg-3 h2 {
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    line-height: 80px;
    color: #8b4513;
    margin: 0;
}
.About > .third-container > .row > .col-lg-3 #numberWang1::after {
    content: "K";
}
.About > .third-container > .row > .col-lg-3 #numberWang2::after {
    content: "K";
}
.About > .third-container > .row > .col-lg-3 #numberWang4::after {
    content: "+";
}
.About > .third-container > .row > .col-lg-3 h6 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #feba2a;
}
.About > .forth-container {
    margin: 60px auto;
}
.About > .forth-container video {
    border-radius: 20px;
}

.About > .fivth-container {
    margin: 150px auto;
}
.About > .fivth-container h1 {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700 !important;
    color: #252b42;
}
.About > .fivth-container p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;

    color: #737373;
}
.About > .fivth-container .col-lg-2 {
    margin: 100px auto;
}

.About > .fivth-container .col-lg-2 img {
    width: 100%;
}
.About > .fivth-container .col-lg-2 h4 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    margin: 2vh auto;
}
.About > .fivth-container .col-lg-2 p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    margin: 2vh;
    color: #737373;
}

.About > .fivth-container .col-lg-2 .icons {
    display: flex;
    justify-content: space-around;
}
.About > .fivth-container .col-lg-2 .icons a {
    color: #f2bb2a;
    font-size: 25px;
}
.About > .sixth-container {
    margin: 100px auto;
}
.About > .sixth-container h1 {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 800;
    color: #252b42;
    margin: 20px auto;
}
.About > .sixth-container p {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    color: #737373;
}

.About > .sixth-container img {
    width: 100%;
}
.About > .seventh-container {
    background: #f2bb2a;
    margin: 70px 0vw !important;
}
.About > .seventh-container > .container > .row > .col-lg-6 > div > h6 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 800;
    color: #8b4513;
}
.About > .seventh-container > .container > .row > .col-lg-6 > div > h1 {
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 800;
    margin: 3vh 0vw;
    color: #fff;
}
.About > .seventh-container > .container > .row > .col-lg-6 > div > p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin: 30px 0px;
}
.About > .seventh-container > .container > .row > .col-lg-6 > div > a {
    color: #fff;
    border: 1px solid #fff;
    padding: 1.2vh 1.5vw;
    margin: 30px 0vw !important ;
    border-radius: 5px;
}
.About > .seventh-container > .container > .row > .col-lg-6 {
    justify-content: center;
    align-items: center;
}
.About > .seventh-container .img {
    justify-content: space-between !important;
}

.About > .seventh-container > .container > .row > .col-lg-6 img {
    width: auto;
    height: 600px;
}

/* -----------------------------Contact us ----------------------------- */
.Contact > .first-container {
    margin: 100px auto;
}
.Contact > .first-container > .row > .col-lg-6 {
    align-items: center;
}
.Contact > .first-container > .row > .col-lg-6 > div > h5 {
    font-size: 22px;
    font-weight: 700;
    color: #ffc107;
    font-family: Montserrat;
    margin: 1vh 0vw;
}
.Contact > .first-container > .row > .col-lg-6 > div > h1 {
    color: #8b4513;
    font-size: 80px;
    font-weight: 600;
    line-height: 70px;
    margin: 2vh 0vw;
    letter-spacing: -4px;
}
.Contact > .first-container > .row > .col-lg-6 > div > p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin: 3vh 0vw;
}
.Contact > .first-container > .row > .col-lg-6 > div > h4 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.Contact > .first-container > .row > .col-lg-6 > div > h4 > a {
    color: #8b4513;
    font-size: 22px;
}
.Contact > .first-container > .row > .col-lg-6 > div > .d-flex {
    width: 300px;
    margin: 3vh 0vw;
}
.Contact > .first-container > .row > .col-lg-6 > div > .d-flex > a {
    color: #f2bb2a;
    font-size: 40px;
}
.Contact > .second-container {
    margin: 100px auto;
}
.Contact > .second-container > h5 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #f2bb2a;
}
.Contact > .second-container > h1 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -2px;
    color: #252b42;
}
.Contact > .second-container > .row > .col-lg-3 {
    margin: 3vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 1vw;
}

.Contact > .second-container > .row > .col-lg-3 > div > i {
    font-size: 60px;
    color: #f2bb2a;
    margin: 2vh auto;
}
.Contact > .second-container > .row > .col-lg-3 > div > h6 a {
    color: #8b4513;
}
.Contact > .second-container > .row > .col-lg-3 > div > h5 {
    font-size: 22px;
    margin: 3vh auto;
}
.Contact > .second-container > .row > .col-lg-3 > div > a {
    color: #f2bb2a;
    border: 1px solid #f2bb2a;
    padding: 1.3vh 1.5vw;
    border-radius: 30px;
    margin: 20px auto;
}
.Contact > .second-container > .row .braon-bg > div > h6 > a {
    color: #fff;
}
.Contact > .third-container {
    margin: 100px auto;
}
.Contact > .third-container > .row > div {
    box-shadow: 0px 0px 10px 0px #00000021;
    margin: 1vh auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Contact > .third-container > .row > div > div {
    display: flex;
    justify-content: start !important;
    flex-direction: column !important;
}
.Contact > .third-container > .row > div > div p {
    text-align: left;
}
.Contact > .third-container > .row > div > div > div > span {
    background: #8b4513;
    color: #fff;
    padding: 5px 9px;
    border-radius: 50%;
    margin: 10px 10px 10px 0px;
}
.Contact > .third-container > .row > div > div > div > h6 {
    margin: 0;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}

.Contact > .third-container > .row > div > div > p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    margin: 1px 0px;
}
.Contact > .third-container > .row > div > div > p > a {
    color: #8b4513;
}
.Contact > .third-container > .row > div > form {
    margin: 1vh 1vw;
}
.Contact > .third-container > .row > div > form input {
    width: 30%;
    margin: 1vh 1%;
    border: none;
    background-color: #f5f5f5;
    padding: 8px 10px;
    border-radius: 5px;
}
.Contact > .third-container > .row > div > form input::placeholder {
    color: gray;
}
.Contact > .third-container > .row > div > form textarea {
    width: 95%;
    border: none;
    padding: 8px 10px;
    background-color: #f5f5f5;
}
.Contact > .third-container > .row > div > form button {
    border: none;
    background: #feba2b;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    padding: 0.6vh 1vw;
    float: right;
    margin: 1vh 1vw;
}
/* -----------------------------Product-details----------------------------- */
.Product-details > .first-container > .d-flex {
    align-items: center;
    gap: 1vw;
    margin: 3vh 0vw;
}
.Product-details > .first-container > .d-flex a {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #252b42;
}
.Product-details > .first-container > .row > .product-slider .main-img > img {
    width: 100%;
    margin: 1vh auto;
    height: 400px;
}
.Product-details > .first-container > .row > .product-slider .thumbnails img {
    transition: 0.5s;
    height: 80px !important;
    width: 100px;
}
.Product-details > .first-container > .row > .product-slider img {
    height: 100%;
}
.Product-details > .first-container > .row > .col-lg-7 > #reviews {
    margin: 2vh 0vw;
}
.Product-details > .first-container > .row > .col-lg-7 > h3 {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
}
.Product-details > .first-container > .row > .col-lg-7 > #reviews i {
    color: #f3cd03;
    font-size: 18px;
}
.Product-details > .first-container > .row > .col-lg-7 > #reviews > h6 {
    margin: 0vh 1vw;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    color: #737373;
}
.Product-details > .first-container > .row > .col-lg-7 > h1 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;

    margin: 3vh 0vw;
}
.Product-details > .first-container > .row > .col-lg-7 > h6 {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 800;
    color: #737373;
    gap: 1vw;
    margin: 2vh 0vw;
}
.Product-details > .first-container > .row > .col-lg-7 > h6 span {
    color: #f3cd03;
}
.Product-details > .first-container > .row > .col-lg-7 > p {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 500;
    color: #858585;
}
.Product-details > .first-container > .row > .col-lg-7 > .item-color {
    display: flex;
    justify-content: space-around;
    width: 150px;
}
.Product-details > .first-container > .row > .col-lg-7 > .item-color span {
    padding: 1vh 0.5vw;
    border-radius: 50%;
}
.Product-details > .first-container > .row > .col-lg-7 > .buy-now {
    margin: 3vh 0vw;
    justify-content: space-between;
    width: 280px;
    align-items: center;
}
.Product-details > .first-container > .row > .col-lg-7 > .buy-now > .d-flex {
    gap: 1vw;
}
.Product-details > .first-container > .row > .col-lg-7 > .buy-now > .d-flex > span {
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    padding: 0.7vh 0.5vw;
}
.Product-details > .first-container > .row > .col-lg-7 > .buy-now > .d-flex > span a {
    color: #000;
}
.Product-details > .first-container > .row > .col-lg-7 > .buy-now > button {
    border: none;
    background: #feba2b;
    padding: 1vh 1vw;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.Product-details > .first-container > .row > .col-lg-7 > h4 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
}
.Product-details > .first-container > .row > .col-lg-7 > .aboutToProduct {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.Product-details > .third-container {
    margin: 5vh auto;
}

.Product-details > .third-container > h3 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
}
.Product-details > .third-container > .row {
    margin: 3vh auto;
}
.Product-details > .third-container > .row > .col-lg-2 {
    display: flex;
    flex-direction: column;
}
.Product-details > .third-container > .row > .col-lg-2 img {
    width: 100%;
}
.Product-details > .third-container > .row > .col-lg-2 h5 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    color: #febb2a;
    margin: 2vh 0vw;
    text-align: center;
}
.Product-details > .third-container > .row > .col-lg-2 {
    margin: 1vh auto;
}
.Product-details > .third-container > .row > .col-lg-2 a {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    color: #737373;
}
.Product-details > .third-container > .row > .col-lg-2 h6 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    margin: 1vh auto;
    text-align: center;
    color: #bdbdbd;
}
.Product-details > .third-container > .row > .col-lg-2 h6 span {
    color: #feba2b;
    margin: 0vh auto;
}
.Product-details > .container-fluid > img {
    width: 100%;
}

.thumbnail {
    cursor: pointer;
    transition: transform 0.2s;
}
.thumbnail:hover {
    transform: scale(1.1); /* Scale effect on hover */
}

.Product-details .card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}
.Product-details .product-imgs img {
    width: 100%;
    display: block;
}
.Product-details .img-display {
    overflow: hidden;
}
.Product-details .img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.Product-details .img-showcase img {
    min-width: 100%;
}
.Product-details .img-select {
    display: flex;
}
.Product-details .img-item {
    margin: 0.3rem;
}
.Product-details .img-item:nth-child(1),
.Product-details .img-item:nth-child(2),
.Product-details .img-item:nth-child(3) {
    margin-right: 0;
}
.Product-details .img-item:hover {
    opacity: 0.8;
}
/* -----------------------------category ----------------------------- */
.category .first-container {
    background-color: #f4f4f4;
    padding: 2vh;
}
.category .first-container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category .first-container h1 {
    margin: 0;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
}

.category .first-container a {
    color: #000;
    font-weight: 600;
    margin: 0vh 0.5vw;
}
.category .second-container {
    margin: 5vh auto;
}
/* -----------------------------wishlist ----------------------------- */
.wishlist {
    align-items: center;
    justify-content: space-between;
    margin: 3vh auto;
}
.wishlist > h2 {
    margin: 0;
    font-size: 25px;
    color: #000;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: -1px;
}
.wishlist > h2 > span {
    font-size: 15px;
    font-weight: 500;
}
.wishlist > a {
    color: #000;
    font-size: 14px;
    border: 2px solid #00000080;
    padding: 1vh 1vw;
    border-radius: 5px;
    font-weight: 600;
}
.wishlist .wishlist-row > div {
    border-radius: 10px;
    overflow: hidden;
}
.wishlist .wishlist-row .position-relative .addCart-btn {
    background: #8b4513;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    left: 0;
    border: none;
    width: 100%;
    font-size: 15px;
}
.wishlist .wishlist-row .position-relative > div {
    top: 10px;
    left: 5px;
}
.wishlist .wishlist-row .position-relative > div p {
    font-size: 12px;
    padding: 3px 5px;
}
.wishlist .wishlist-row .position-relative > div .wishlist-btn {
    background-color: #fff;
    padding: 1vh;
    border-radius: 50%;
    color: #000;
}

.wishlist .wishlist-row .tittel {
    color: #febb2a;
    font-weight: 700;
    margin: 5px 0vw;
}
.wishlist .wishlist-row .prices {
    color: #febb2a;
    font-weight: 600;
    font-size: 14px;
}
.wishlist .wishlist-row .prices > span {
    color: #00000079;
    margin: 0vh 0.5vw;
}
.wishlist .wishlist-row .rating {
    color: #febb2a;
    font-size: 12px;
    margin: 7px 0px;
}
.wishlist .wishlist-row .rating span {
    color: #00000079;
    font-size: 14px;
    margin: 0vh 5px;
    font-weight: 700;
}
/* -----------------------------Cart ----------------------------- */

.cart .first-container .row {
    padding: 2vh 1vw;
    margin: 2vh auto;
    box-shadow: 0px 0px 10px 0px #00000033;
    border-radius: 10px;
}
.cart .first-container .row > .col-lg-3 {
    width: 25%;

    display: flex;
    justify-content: start;
    align-items: center;
}
.cart .first-container .row h3 {
    font-size: 15px;
    margin: 0;
    font-weight: 600;
}
.cart .first-container .row img {
    width: 50px;
    height: 50px;
}
.cart .first-container .row p {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}
.cart .first-container .row input {
    width: 60px;
    border: 1px solid #000;
    padding: 1vh 0.5vw;
}
.cart .first-container .row .close {
    top: 38%;
    left: 88%;
    color: #8b4513;
    cursor: pointer;
}
.cart .first-container .d-flex {
    justify-content: space-between;
}
.cart .first-container .d-flex button {
    border: 2px solid #00000080;
    background: transparent;
    padding: 0.7vh 1vw;
    border-radius: 5px;
    color: #000;
}
.cart .second-container input {
    border: 1px solid black;
    padding: 1vh 0.5vw;
    border-radius: 5px;
}
.cart .second-container button {
    background: #febb2a;
    padding: 1vh 1vw;
    border: 1px solid #febb2a;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin: 0vh 1vw;
}
.cart .second-container .cart-total {
    border: 2px solid #0000008e;
    border-radius: 5px;
    padding: 1vh 1vw;
}
.cart .second-container .cart-total .d-flex {
    justify-content: space-between;
    margin: 1vh 0vw;
}
.cart .second-container .cart-total h4 {
    font-size: 22px;
    margin-bottom: 3vh;
}
.cart .second-container .cart-total button {
    /* background-image: linear-gradient(); */
    margin: 1vh auto;
}
/* -----------------------------check out ----------------------------- */
.checkOut > .first-container > h1 {
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: 700;
}
.checkOut > .first-container > .row > div {
    margin: 1vh auto;
}
.checkOut > .first-container > .row > div > form > label {
    font-family: poppins;
    font-size: 14px;
    color: #b2b2b2;
    margin: 2vh 0vw 5px 0vw;
}
.checkOut > .first-container > .row > div > form > input {
    width: 100%;
    padding: 1vh 0.5vw;
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
}
.checkOut > .first-container > .row > div > form > div {
    margin: 2vh 0vw;
    display: flex;
    align-items: center;
}
.checkOut > .first-container > .row > div > form > input::placeholder {
    color: #737373;
}
.checkOut > .first-container > .row > div > form > div > input {
    height: 15px;
    width: 15px;
    accent-color: #db4444;
    margin-right: 1vw;
}
.checkOut > .first-container > .row > div > form > input:focus {
    outline: none;
}
.checkOut > .first-container > .row > div > form > diV span {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}
.checkOut > .first-container > .row > div > .items {
    margin: 1vh 0vw;
    align-items: center;
}
.checkOut > .first-container > .row > div > .items div {
    align-items: center;
}
.checkOut > .first-container > .row > div > .items img {
    width: 50px;
}
.checkOut > .first-container > .row > div > .items h5 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}
.checkOut > .first-container > .row > div > .items .price {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}
.checkOut > .first-container > .row > div > .payment-section {
    margin: 2vh 0vw !important;
}
.checkOut > .first-container > .row > div > .payment-section > div > div {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}
.checkOut > .first-container > .row > div > .payment-section p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}
.checkOut > .first-container > .row > div > .payment-method div {
    align-items: center;
    justify-content: space-between;
}
.checkOut > .first-container > .row > div > .payment-method .image {
    width: 80px !important;
    display: flex;
    justify-content: space-between;
}
.checkOut > .first-container > .row > div > .payment-method .image img {
    width: 40px !important;
}
.checkOut > .first-container > .row > div > .payment-method div input {
    margin-right: 1vw;
    height: 15px;
    width: 15px;
}
.checkOut > .first-container > .row > div > .payment-method div p {
    margin: 0;
}
.checkOut > .first-container > .row > div > .Coupen-Code {
    justify-content: space-between;
    margin: 3vh 0vw;
}
.checkOut > .first-container > .row > div > .Coupen-Code input {
    width: 50%;
    border-radius: 10px;
}
.checkOut > .first-container > .row > div > .Coupen-Code button {
    width: 45%;
    border: none;
    background: #feba2b;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
}

.checkOut > .first-container > .row > div > .Place-Order {
    width: 45%;
    border: none;
    background: #feba2b;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    padding: 1vh 0.5vw;
}
/* -----------------------------404 Error----------------------------- */
.Error-404 .container {
    text-align: center;
}
.Error-404 .first-conrtainer {
    margin: 5vh auto;
}
.Error-404 h1 {
    font-family: Inter;
    font-size: 110px;
    font-weight: 600;
    color: #8b4513;
}
.Error-404 p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.Error-404 .first-conrtainer > a {
    border: none;
    background: #feba2b;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    padding: 1.5vh 3vw;
    font-size: 20px;
    margin: 5vh auto;
}
/* -----------------------------User dash board----------------------------- */
.my-Account > .first-container > h1 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600 !important;
}
.my-Account > .first-container > .row {
    margin: 3vh auto;
}
.my-Account > .first-container > .row > div > h3 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    margin: 2vh 0vw;
}
.my-Account > .first-container > .row > div > h3:hover {
    color: #8b4513;
    cursor: pointer;
}
.my-Account > .first-container > .row > div > div > h2 {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    color: #8b4513;
}
.my-Account > .first-container > .row > .col-lg-8 {
    box-shadow: 0px 0px 10px 0px #0000000e;
    padding: 4vh 2vw;
    border-radius: 10px;
}
.my-Account > .first-container > .row > div > #My-Profile-section .col-lg-6 {
    margin: 1vh 0vw;
}
.my-Account > .first-container > .row > div > #My-Profile-section label {
    margin: 1vh 0vw;
    font-family: Poppins;
    font-size: 17px;
}
.my-Account > .first-container > .row > div > #My-Profile-section .col-lg-6 input {
    width: 95%;
    padding: 1vh 0.5vw;
    box-shadow: 0px 0px 10px 0px #0000000e;
    border: none;
    border-radius: 10px;
    margin: autor;
}

.my-Account > .first-container > .row > div > #My-Profile-section .col-lg-12 input {
    width: 100%;
    padding: 1vh 0.5vw;
    margin: 1vh 0%;
    box-shadow: 0px 0px 10px 0px #0000000e;
    border: none;
    border-radius: 10px;
}
.my-Account > .first-container > .row > div > #My-Profile-section button {
    padding: 1vh 1vw;
    border: none !important;
    background-color: #febb2b;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    margin: 3vh 1vw;
    width: 150px;
    float: right;
}
.my-Account > .first-container > .row > div > #My-Profile-section {
    display: none;
}
.my-Account > .first-container > .row > div > #address-section {
    display: none;
    margin: 5vh auto;
}
.my-Account > .first-container > .row > div > #Orders-section {
    display: none;
}

.my-Account > .first-container > .row > div > .view-btn-section {
    display: none;
}
.my-Account > .first-container > .row > div > #address-section button {
    padding: 1vh 1vw;
    border: none !important;
    background-color: #febb2b;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
}
.my-Account > .first-container > .row > div > #address-section .for-tab-mobile {
    display: none;
}
.my-Account > .first-container > .row > div > #address-section h4 {
    color: #8b4513;
    font-size: 16px;
    margin: 3vh 0vw;
    font-weight: 700;
}
.my-Account > .first-container > .row > div > #address-section h6 {
    font-size: 20px;
    font-weight: 600;
}
.my-Account > .first-container > .row > div > #address-section h6 i {
    color: #8b451359;
    font-size: 15px;
    margin: 0px 10px;
}

.my-Account > .first-container > .row > div > div textarea {
    width: 100%;
    border-radius: 15px;
    padding: 1vh 1vw;
    box-shadow: 0px 0px 10px 0px #00000025;
    border: none;
    margin: 10px 0px;
    margin: 3vh 0vw;
}
.my-Account > .first-container > .row > div > a {
    color: #f34031;
    font-weight: 600;
}
/* -----------------------------Footer ----------------------------- */

footer {
    background-image: linear-gradient(to top, #feba2b 85%, #fff 15%);
    min-height: 60vh;
}
footer > .first-container-footer {
    background: #8b4513;
    border-radius: 20px;
    padding: 5vh 1vw;
}

footer > .first-container-footer > .row > .col-lg-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 1vw;
}
footer > .first-container-footer > .row > .col-lg-6 h1 {
    font-family: Poppins;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
}
footer > .first-container-footer > .row > .col-lg-6 form input {
    border: none;
    padding: 1vh 1vw;
    width: 330px;
    margin: 1vh 0vw;
    border-radius: 30px;
}
footer > .first-container-footer > .row > .col-lg-6 form input::placeholder {
    text-align: center;
}
footer > .first-container-footer > .row > .col-lg-6 form button {
    border: none;
    padding: 1vh 1vw;
    width: 330px;
    border-radius: 30px;
    background: #fff;
    color: #feba2a;
    font-weight: 700;
}
footer .row .col-md-6 {
    margin: 3vh auto !important;
}
footer > .row > .col-lg-3 p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    margin: 1vh 0vw;
}
footer > .row > .col-lg-3 .d-flex {
    justify-content: space-between;
}

footer .row .col-lg-3 img {
    width: 60%;
}
footer .row .col-lg-2 {
    margin: 2vh 0vw;
}
footer .row .col-lg-2 h6 {
    font-size: 20px;
    font-weight: 700;
}
footer .row .col-lg-2 ul {
    padding: 0;
}
footer .row .col-lg-2 ul li {
    list-style: none;
    margin: 1vh 0vw;
}
footer .row .col-lg-2 ul li a {
    font-size: 18px;
    /* font-weight: 500; */
    color: #00000099;
}
footer > .container > .d-flex {
    justify-content: space-between;
    align-items: center;
}
footer .d-flex > .d-flex > span {
    background: #fff;
    margin: 1vh 0.5vw;
    padding: 10px 15px;
    border-radius: 50%;
}
footer .d-flex .logos > img {
    width: 300px;
}
.links {
    margin: 2vh auto;
}
.links > a {
    margin: 0vh 1vw;
    font-weight: 600;
}
.links > .disable {
    color: gray;
}
.links > .Active {
    color: #000;
}
.orderConfirmation > .first-container {
    text-align: center;
    margin: 5vh auto;
}
.orderConfirmation > .first-container > .check-icon {
    width: 80px;
    margin: 3vh auto;
    background-color: #8b4513;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    font-size: 81px;
    color: #febb2b;
}
.orderConfirmation > .first-container > h1 {
    font-size: 28px;
    font-family: Poppins;
}
.orderConfirmation h5 {
    font-size: 15px;
    color: grey;
}

.orderConfirmation > .second-container {
    border: 2px dashed grey;
    margin: 3vh auto;
    border-radius: 10px;
    width: 50%;
}

.orderConfirmation > .second-container > .row > div {
    display: flex;
    align-items: center;
    min-height: 10vh;
    justify-content: center;
}

.orderConfirmation > .second-container p {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.orderConfirmation > .third-container {
    border: 1px solid #000;
    padding: 2vh 1vw;
    border-radius: 10px;
    width: 50%;

    margin: 3vh auto;
}
.orderConfirmation > .third-container h3 {
    font-size: 20px;
    margin: 0;
    color: grey;
}
.orderConfirmation > .third-container .d-flex {
    justify-content: space-between;
}
.orderConfirmation > .third-container .d-flex h5 {
    font-size: 15px;
    margin: 0;
}
.orderConfirmation > .third-container .d-flex p {
    font-size: 15px;
    margin: 0;
}








.orderDetail   .row > div > h3 a {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    margin: 2vh 0vw;
    color: #000;
}
.orderDetail  .row > div > h3 :hover {
    color: #8b4513;
    cursor: pointer;
}
.orderDetail  .container .row > div > a{
    color: #f34031;
    font-weight: 600;
    margin: 4vh 0vw;
   
}
.orderDetail > .first-container > .row > div > .view-btn-section h3 {
    font-size: 16px;
    color: #8b4513;
    font-family: Poppins;
    font-weight: 700;
    margin-top: 8vh !important;
}

.orderDetail > div textarea {
    width: 100%;
    border-radius: 15px;
    padding: 1vh 1vw;
    box-shadow: 0px 0px 10px 0px #00000025;
    border: none;
    margin: 10px 0px;
    margin: 3vh 0vw;
}
.orderDetail .orders-container {
    margin: 10px auto;
    padding: 20px;
}

.orderDetail .orders-table {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #00000025;
    width: 100%;
}
.orderDetail .orders-table th,
.orderDetail .orders-table td {
    padding: 1vh 0.8vw;
    border: 1px solid #ddd;
    text-align: center;
}

.orderDetail .orders-table th {
    background-color: #8b4513;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.orderDetail .orders-table td {
    color: #000;
    font-size: 12px;
}

.orderDetail.status {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.orderDetail .canceled {
    background-color: #f34031;
    color: #fff;
    padding: 5px;
    border-radius: 15px;
   
}

.orderDetail .ordered {
    background-color: #43c710;
    color: #fff;
    padding: 5px;
    border-radius: 15px;
}

.orderDetail .view-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.orderDetail .container > button {
    border: none;
    padding: 1vh 1vw;
    margin: 3vh 0vw;
    border-radius: 10px;
    background: #f34031;
    color: #fff;
    font-weight: 700;
    float: right;
}
.Sign-In >.container, .Register >.container
{
    text-align: center;
    width: 30%;
    margin: 5vh auto;
}
.Sign-In >.container> h1,
.Register >.container>h1{
    font-size: 30px ;
    color: #8b4513 ;
    font-weight: 600;
    letter-spacing: -2px;
    word-spacing: 5px;
    border-bottom: 2px solid #8b4513  ;
    width: 100px;
    margin:4vh auto;
}
.Sign-In >.container input,
.Register >.container input
{
    width: 100%;
    margin: 1vh 0vw;
    border: 1px solid #000;
    padding: 1vh 1vw;
}
.Sign-In >.container button,
.Register >.container button{
    width: 100%;
    margin: 1vh 0vw;
    border: none;
    background-color: #8b4513 ;
    padding: 1vh 1vw;
    color: #fff;
    font-weight: 700;
}.Sign-In >.container p,
.Register >.container p
{
    font-size: 12px;
    text-align: left;
    margin: 2vh 0vw;
}
.Sign-In >.container p a,
.Register >.container p a{
    color: #febb2b ; 
    font-size: 14px;
    margin: 0vh 0.5vw;
    font-weight: 600;
}